* {
    box-sizing: border-box;
}
body{
    margin: 0;
}
#modal{
    position: fixed;
    height: 70vh;
    width: 35vw;
    border-radius: 50%;
    background-image: url("./modal-bg.76e0ddc9.jpg");
    margin-left: 700px;
    margin-top: 200px;
    z-index: 101;
    background-position: center;
    direction: rtl;
}
#modal h1{
    width: 450px;
    margin-top: 50px;
    margin-right: 120px;
    font-size: 35px;
    font-family: sans-serif;
    
}
#modalDetails{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 60%;
    font-size: 20px;
    margin: 0 auto;
    grid-row-gap: 40px;
}
#modalDetails input{
    height: 50px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
}
#closemodal{
    margin: 0;
    margin-right: 320px;
    margin-top: 40px;
    font-size: 50px;
}
#verifymodal{
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    height: 30px;
    margin-top: 20px;
}
#verifymodal h6{
    margin: 0%;
    color: darkblue;
    font-family: sans-serif;
}
#modalbutton{
    background: #2525bd;
    color: #efe0e0;
    font-size: 25px;
    width: 200px;
    height: 50px;
    margin-right: 230px;
}
#nav{
    /* background-color: greenyellow; */
    text-align: center;
    font-size: 18px;
    height: 96px;
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
}
#nav a{
    margin-left: 10px;
}
#nav a:hover{
    color: rgb(0, 0, 158);
    font: bold;
    font-family: sans-serif
}
#menu{
    display: none;
}
#category{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    height: 50px;
    margin-top: 30px;
}
#logo{
    grid-column-start: 3;
    grid-column-end: 4;
}

#slogan{
    width: 100vw;
    height: 200px;
    background-color: darkblue;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

#sloganone{
    margin: 0 ;
    font-size: 80px;
    direction: rtl;
}

#slogantwo{
    margin: 0;
    font-size: 100px;
    direction: rtl;
}

#sloganP{
    text-align: center;
    width: 65vw;
    margin: 0 auto;
    font-size: 20px;
    font-family: cursive;
    background-color: bisque;
}

#info {
    height: 55vh;
    width: 70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 20fr; */
}

#career{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    margin: 0;
    font-size: 50px;
}

#details{
    background-color: darkblue;
    width: 55%;
    margin: 0 auto;
}

#namec, #phonec, #emailc{
    height: 13%;
    width: 70%;
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    
}
#namec label, #phonec label, #emailc label{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    border-left: 5px solid blue;
    font-family: system-ui;
    width: 65px;
    text-align: right;
}

#namec input, #phonec input, #emailc input{
    height: 100%;
    width: 60%;
    border: none;
}
#details h3{
    text-align: center;
    color: white;
    font-size: 35px;
    margin: 10px;
}

#verify{
    width: 95%;
    margin: 0 auto;
    margin-top: 15px;
    color: antiquewhite;
    font-family: system-ui;
    font-size: 13px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
#verify input{
    grid-column-start:3 ;

}
#verify label{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    text-align: right;
    margin-right: 20px;
}
#talk{
    width: 70%;
    height: 13%;
    font-size: 40px;
    border: 2px solid cyan;
    margin-left: 60px;
    margin-top: 15px;
}
#cat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    margin-top: 30px;
}
#cyber{
    width: 60%;
    grid-column-start: 4;
    grid-column-end: 5;
    margin: 0 auto;
}
#cyber, #system, #facebook, #qa, #ui, #dot, #apple, #embed{
    position: relative;
    animation-name: slide;
    animation-duration: 2s;
    animation-direction:initial;
    animation-timing-function: ease;
    z-index: -1;
}

@keyframes slide {
    from{ top: 100px;}
    to{ top: 0px;}
}

#cyber img, #system img, #facebook img, #qa img, #ui img, #dot img, #apple img, #embed img{
    margin-left: 25px;
}
#cyber p, #system p, #facebook p, #qa p, #ui p, #dot p, #apple p, #embed p{
    margin: 0;
    text-align: center;
}
#system{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    width: 60%;
    margin: 0 auto;
}
#facebook{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    width: 60%;
    margin: 0 auto;
}
#qa{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    width: 60%;
    margin: 0 auto;
}
#ui{
    grid-column-end: 4;
    grid-column-end: 5;
    width: 60%;
    margin: 0 auto;
}
#dot{
    grid-column-start: 3;
    grid-column-end: 4;
    width: 60%;
    margin: 0 auto;
    grid-row-start: 2;
}
#apple{
    grid-column-start: 2;
    grid-column-end: 3;
    width: 60%;
    margin: 0 auto;
    grid-row-start: 2;
}
#embed{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    width: 60%;
    margin: 0 auto;
}
#embed:hover, #apple:hover, #dot:hover, #ui:hover, #qa:hover, #facebook:hover, #system:hover, #cyber:hover{
    opacity: 0.5;

}

#blackdrop{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(167, 161, 161);
    z-index: 100;
    opacity: 0.7;
}

#careers {
    background-color: #0e0e69;
    border: 2px solid black;
    width: 45%;
    height: 340px;
    text-align: right;
    z-index: 99;
    position: absolute;
    color: white;
    font-size: 20px;
    margin-left: 350px;
    margin-top: 50px;
    opacity: 0.95;
    display: none;
    position: fixed;
}
#careersContainer{
    width: 50%;
    float: right;
    text-align: -webkit-right;
}
#careersContainer div:hover {
    background-color: white;
    color: #0e0e69;
}
#careersContainer div {
    width: fit-content;
    margin: 15px;
}

#whylearn{
    font-size: 50px;
    text-align: center;
}
#learn{
    background-image: url("./background.png");
    background-size: cover;
    height: 80vh;
}
#learnContainer{
    width: 70%;
    margin-left: 250px;
    margin-top: 20px;
    display: inline-block;
    text-align: right;
    font-size: 18px;
    height: 20%;
}
#learnContainer p{
    font-family: cursive;
    font-size: 20px;
}
#learnptwo{
    font-weight: bold;
}
#learnpthree{
    color: blue;
}
#learnbold{
    font-weight: 700;
}
#learnexplaination{
    height: 75%;
    width: 67%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    gap: 20px;
}
#explainationone{
    background: #f3eee8;
    grid-column-start: 1;
    direction: rtl;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 30px;
}
#explainationtwo{
    background: black;
    color: white;
    direction: rtl;
    grid-column-start: 2;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 25px;
    padding-right: 10px;
    padding-left: 10px;
}
#explainationonebold, #explainationtwobold{
    font-weight: 700;
}
.underline{
    text-decoration:underline;
}
#explainationone:hover, #explainationtwo:hover{
    transform: scale(1.1);
    transition: all .5s linear;
    box-shadow: 10px 10px 50px #000;
}
header{
    background-color: white;
    position: fixed;
    width: 100vw;
    height: 96px;
}
#break{
    height: 96px;
}

@media screen and (max-width:1680px) {
    #nav{
        width: 80vw;
    }
   #namec label, #phonec label, #emailc label{
       margin-right: unset;
   } 
   #details{
    width: unset;
   }
   #learnexplaination{
       width: 80vw;
   }
   #modal{
       width: 40vw;
   }

}


@media screen and (max-width:1530px){
    #category {
        display: none;
    }
    #menu{
        grid-column-start: 1;
        grid-column-end: 2;
        height: 30px;
        margin-top: 20px;
        display: block;
    }
    #nav{
        width: 60vw;
    }
    #learnexplaination{
        width: 90vw;
    }
}


@media screen  and (max-width:1450px){
    #namec input, #phonec input, #emailc input{
        width: 50%;
    }
    #details{
        width: unset;
    } 
    #info{
        width: 80vw;
    }
    #learnexplaination{
        width: 90vw;
    }
    #modal{
        display: none;
    }
    #blackdrop{
        display: none;
    }
}
@media screen and (max-width: 1280px){
    #talk{
        font-size: 20px;
        width: 50%;
        height: 10%;
        margin-top: unset;
    }
    #info{
        width: 100vw;
    }
    #career{
        margin-right: 150px;
        font-size: 40px;
    }
    #learn{
        height: 100vh;
    }
    #learnexplaination{
        width: 95vw;
    }
    #explainationone{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #explainationtwo{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #explainationone:hover, #explainationtwo:hover{
        transform: unset;
    }
}
@media screen and (max-width: 980px){
    #info{
        grid-template-rows: 1fr 20fr 1fr;
    }
    #details{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100vw;
        height: 350px;
    }
    #cat{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-template-rows: 1fr 1fr;
    }
    #career{
        grid-column-start: 1;
        text-align: center;
    }
    #verify{
        height: 50px;
        width: 70%;
    }
    #talk{
        margin-left: 200px;
    }
    #whylearn{
        margin-top: 150px;
    }
    #learnContainer{
        margin-left: 200px;
    }
}
@media  screen and (max-width:760px) {
    #sloganP{
        margin: unset;
        width: unset;
    }
    #whylearn{
        margin-top: 200px;
    }
    #learnContainer{
       margin-left: 100px
    }
}
@media  screen and (max-width: 600px) {
    #cat{
        margin: 50px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #cyber{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #ui{
        grid-column-start: 3;
        grid-column-end: 4;
    }
    #whylearn{
        margin-top: 400px;
    }
}

@media screen and (max-width:500px){
    #career{
        margin: unset;
    }
    #cat{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    #system{
        grid-row-start:4;
        grid-row-end:5;
        grid-column-start:1;
        grid-column-end:2;
    }
    #ui{
        grid-row-start:4;
        grid-row-end:5;
        grid-column-start:2;
        grid-column-end:3;
    }
    #dot{
        grid-row-start:3;
        grid-row-end:4;
        grid-column-start:2;
        grid-column-end:3;
    }
    #talk{
        margin-left: 100px;
    }
    #whylearn{
        margin-top: 500px;
    }
}

@media screen and (max-width: 450px) {
    #slogan {
        height: 230px;
    }
    #whylearn{
        margin-top: 700px;
    }
    #sloganone{
        font-size: 70px;
    }
    #slogantwo{
        font-size: 90px;
    }
}
@media screen and (max-width:380px) {
    #slogan{
        height: 300px;
    }
}